* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.modak-regular {
    font-family: "Modak", cursive;
}

:root {
    --text-color: #000000;
    --main-color: #dbb778;
    --second-color: #f0cf95;
    --bg-color: #ffffff;
}

html,
body {
    width: 100vw;
    height: auto;
    background: white;
    overflow-y: auto;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

nav div {
    display: flex;
    padding: 1em;
    gap: 10em;
}

nav img {
    width: 120px;
}

nav div a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: var(--text-color);
    font-family: "Neue Montreal";
    font-size: 20px;
    z-index: 5 !important;
}

nav div a:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em;
}

.header .h1 {
    position: relative;
    font-family: "Modak", cursive;
    font-size: 32vw;
    color: var(--main-color);
    line-height: 1.125;
}

.is-here {
    font-family: "Modak", cursive;
    font-size: 10vw;
    text-align: center;
    color: var(--main-color);
    margin-top: -100px;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: flex;
}

.bar {
    width: 10vw;
    height: 105vh;
    background: black;
}

.counter {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 4;
    color: var(--main-color);
    padding: 0.2em 0.4em;
    font-size: 20vw;
}

.about-content {
    margin-top: 0px;
    padding: 2em;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    color: #000;
}

.img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#h1-tag {
    text-transform: uppercase;
    font-size: 200px;
    font-weight: 400;
    letter-spacing: -4px;
}

section.hero1 {
    width: 100vw;
    height: 100vh;
    background: url(./images/hero.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero1 h1{
    color: white;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}

section.info {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #ffffff;
}

.header-row {
    width: 100%;
    height: 40vh;
    padding: 0 2em;
}

.header-row:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
.header-row:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-info {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}
.header-info p {
    padding: 1em;
    font-family: "PP Editorial Old";
    font-size: 52px;
    font-weight: lighter;
  }
  
.header-images {
    width: 100%;
    height: 250px;
    padding: 1em;
    display: flex;
    gap: 1em;  
}
  
img {
    width: 100%;
    height: 100%;
}
section.pinned {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 250vh;
    z-index: 2;
}
  

.revealer {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 15%;
    margin-top: 1200px;
    width: 120px;
    height: 120px;
}
  
.revealer .revealer-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    clip-path: polygon(45% 0%, 55% 0%, 55% 100%, 45% 100%); 
}
.revealer .revealer-2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
    background-color: #fff;
    clip-path: polygon(45% 0%, 55% 0%, 55% 100%, 45% 100%); 
}

section.website-content {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 10;
}

.website-content h1 {
    font-size: 32px;
    letter-spacing: 0;
}

.chatbot-popup{
    background-color: #fff;
}

#chat-button {
	color: var(--bg-color);
    background-color: #000;
	border: 2px solid;
	position: relative;
	top: -3.5rem;
	left: 85%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 14px;
	padding-bottom: 14px;
	border-radius: 6px;
	transition: all 0.5s ease;
	margin-right: 15px;
	animation: fadeIn 2s ease-in-out;

}
#chat-button:hover{
    background-color: var(--main-color);
	box-shadow: 0 0 10px 2px var(--second-color);
    cursor: pointer;
}

.track-container {
    position: relative;
    text-align: center;
    padding: 60px;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.track-container:hover {
    background-color: var(--text-color);
    transform: scale(1.05);
    color: #fff;
}

#track-button {
	color: var(--bg-color);
    background-color: #000;
	border: 2px solid;
	position: relative;
    top: 1rem;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 14px;
	padding-bottom: 14px;
	border-radius: 6px;
	transition: all 0.5s ease;
	margin-right: 15px;
	animation: fadeIn 2s ease-in-out;
    cursor: pointer;
}
#track-button:hover{
    background-color: var(--main-color);
	box-shadow: 0 0 10px 2px var(--second-color);
}